<div class="container profil">
  <h1>Profil</h1>

  <p><%= @users.username %></p>


  <div class="row">
    <div class="col-md-6 ">
      <h2> Mes Réservations </h2>
      <h4> En attente </h4>
      <% @pending_requests.each do |rental_request| %>
        <div class="card-product">
          <%= cl_image_tag rental_request.instrument.photo.key %>
          <div class="card-product-infos">
            <h2> <%= rental_request.status %> </h2> Par <%= rental_request.instrument.owner.username %>
            <%= "du #{rental_request.start_date} au #{rental_request.end_date}"%>
          </div>
        </div>
      <% end %>
      <h4> Mes Locations passées </h4>
      <% @accepted_requests.each do |rental_request| %>
        <div class="card-product">
          <%= cl_image_tag rental_request.instrument.photo.key %>
          <div class="card-product-infos">
            <h2> <%= rental_request.status %> </h2> Par <%= rental_request.instrument.owner.username %>
            <%= "du #{rental_request.start_date} au #{rental_request.end_date}"%>
          </div>
        </div>
      <% end %>
    </div>


     <div class="col-md-6 ">
        <div class="d-flex justify-content-between ">
          <h2> Mes Instruments </h2>
          <div class="btn btn-flat">
          <%= link_to 'Ajoute un instrument', new_owner_instrument_path(@instrument) %>
          </div>
        </div>
        <% @users.instruments.each do |instrument| %>
          <div class="card-product">
            <%= cl_image_tag instrument.photo.key %>
            <div class="card-product-infos">
              <h2><%= instrument.category %></h2>
              <p><%= instrument.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


