<div class="container p-5">
  <%= simple_form_for([:owner, @instrument]) do |f| %>
    <label for="">nom :</label>
    <%= f.input :name, label: false %>
    <label for="">catégorie :</label>
    <%= f.input :category, label: false, collection: @category %>
    <label for="">description :</label>
    <%= f.input :description, label: false %>
    <label for=""> prix par jour :</label>
    <%= f.input :price_per_day,label: false, collection: 0..25%>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
