<div class="index-action">
  <div>
    <h1>Instruments <i class='fas fa-music' style='font-size:12px'></i>
    <i class='fas fa-music' style='font-size:24px'></i></h1>
    <br>
    <div class="map-container">

      <div>
        <% @instruments.each do |instrument| %>
          <div class="card-instrument-inline m-3">
            <%= cl_image_tag instrument.photo.key, width: 350, height: 200, crop: :fill %>
            <div class="card-instrument-inline-infos">
              <h2> <%= instrument.name %> </h2>
              <p> <span class="text-instrument-inline"> <%= instrument.description %> </span></p>

              <p class="btn btn-primary">
                <%= link_to instrument_path(instrument) do %>
                  <%= instrument.price_per_day %> €/ jour
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="map-card-instruments">
        <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
