<div class="index-action">
  <div class="Instruments-index-title mt-4">
    <h1><em>Instruments </em><i class='fas fa-music' style='font-size:12px'></i>
    <i class='fas fa-music' style='font-size:22px'></i></h1>
    <br>
  </div>
    <div class="map-container">

      <div>
        <% @instruments.each do |instrument| %>
          <div class="card-instrument-inline m-3">
            <%= cl_image_tag instrument.photo.key, width: 350, height: 300, crop: :fill %>
            <div class="card-instrument-inline-infos p-3">
              <h2> <em><%= instrument.name %></em> </h2>
              <h6> <span class="text-instrument-inline"> <%= instrument.description %> </span></h6>
              <div class="d-flex justify-content-end mt-3">
                <%= link_to instrument_path(instrument), class: "btn btn-primary" do %>
                  <%= instrument.price_per_day %> €/ jour
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="map-card-instruments">
        <div id="map"
        style="width: 100%; height: 780px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
