<div class="container">
  <div class="row pb-5 pt-5">
    <%= link_to "Retour", instruments_path, class: "btn btn-secondary rounded" %>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-5 p-0">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center mb-1">
          <%= cl_image_tag @instrument.owner.avatar.key, alt: "alttext", width: 50, height: 50, crop: :fill, style: "border-radius: 50%;" %>
          <p class="ml-3 mb-0"> <%= @instrument.owner.username %> </p>
        </div>
        <div class="price_day_show d-flex align-items-end">
          <p id="price-per-day" data-price="<%= @instrument.price_per_day %>"> <%= @instrument.price_per_day%> € </p>
        </div>
      </div>
      <div class="image-show-instrument">
       <%= cl_image_tag @instrument.photo.key, alt: "alttext", height: 300, crop: :fill %>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="instrument-show-title ">
        <h4 class="font-weight-light"> <u> <%= @instrument.category %> </u> </h4>
        <h1 class="text-center"> <%= @instrument.name %> </h1>
        <h4 class="location-instrument-show"> <%= @instrument.location %> </h4>
      </div>
      <div>
        <%= simple_form_for [@instrument, @rental_request] do |f| %>
          <label for="">date de début</label>
          <%= f.input :start_date, as: :string, required: false, input_html: {id: "start_datepicker"}, label: false %>
          <label for="">date de fin</label>
          <%= f.input :end_date, as: :string, required: false, input_html: {id: "end_datepicker"}, label: false %>
          <p>Soit un total de <span id="total-price"></span><span id="total-price-euro">€</span></p>
          <%= f.button :submit, "louer", class: "btn btn-primary btn-create-rental-request rounded"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="details-instrument mt-5">
      <h3>description</h3>
      <p> <%= @instrument.description %> </p>
    </div>
  </div>
</div>

